*{
    margin:0;
    padding: 0;
}
body{
    background-color: #17232d;
}
a{
    color: bisque;
}

.nav-tabs{
    display: flex;
    justify-content: center;
}
.container{
    margin-top: 200px;
    width: 600px;
    margin-left: 50px;
    color: wheat;
}
.picture{
    height: 500px;
    width: 601px;
    margin-top: 110px;
    border: none;
    border-radius: 90rem;
    margin-right: 170px;
    
}
.front{
    display: flex;
    justify-content: center;
    background-color: #17232d;
}
h1{
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    width: 160px;
}
.navbar-brand{
    padding-right: 33%;
}
.bg-body-tertiary{

    --bs-bg-opacity: 1;
    background-color:wheat;
}
.join-btn{
    color: rgb(53, 9, 9);
    border: none;
    border-radius: 4rem;
    height: 47px;
    width: 326px;
    font-size: 25px;
    background-image: linear-gradient(to right, rgb(253, 242, 244),rgb(252, 239, 241) ,rgba(121, 182, 252, 0.959) ) ;
}
.join{
    width: 100%;
    justify-content: center;
    display: flex;
    margin-top: 100px;
    margin-bottom: 200px;
}
/**footer**/
.footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #27394e;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-panel2{
    background-color: #2c7b8c;
    color: rgb(0, 0, 0);
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 40px;
}
ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: rgb(206, 204, 204);
}
.foot-panel3{
    background-color: wheat;
    border-top: 0.23px solid rgb(26, 18, 44);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("mindful\ logo\ 1.jpg");
    background-size: cover;
    height:50px;
    width:200px;
}
.foot-panel4{
    background-color: #0d1318;
    height: 80px;
    color: white;
    font-size: 0.7rem;
}
.pages{
    text-align: center;
    padding-top: 25px;
}
.copyright{
    text-align: center;
    padding-top: 5px;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    width: 160px;
}
.navbar-brand{
    padding-right: 33%;
}
a:link {
    color: black;
    text-decoration: none;
  }
  
  /* visited link */
  a:visited {
    color: black;
    font-style: none;
    text-decoration: none;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: rgb(25, 135, 84);
    text-decoration: none;
  }
  #black 
  {
    border-color: black;
  }
  #black:hover{
    border-color: rgb(25, 135, 84);
  }